subscription_id                    = "00000000-0000-0000-0000-000000000000"
resource_group_name                = "rg-codereviewer-platform"
location                           = "centralindia"
name_prefix                        = "coderaptor"
backend_principal_object_id        = null
